html {
  max-width: 786px;
  height: 100%;
  margin: 0 auto;  
}

body {
  height: 100%;
  border: 1px solid #f9f9f9;
}

* { -ms-overflow-style: none; }
* { overflow: -moz-scrollbars-none; }

::-webkit-scrollbar{ display:none; }

/* 设备值：https://devhints.io/resolutions */
@media only screen and (min-width: 240px) {
  html {
    font-size: 74px;
  }
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 85px;
  }
}

@media only screen and (min-width: 360px) {
  html {
    font-size: 100px;
  }
}

@media only screen and (min-width: 410px) {
  html {
    font-size: 110px;
  }
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 128px;
  }
}

@media only screen and (min-width: 568px) {
  html {
    font-size: 151px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 204px;
  }
}