.center() {
  margin-left: 50%;
  transform: translateX(-50%);
}

.app {
  user-select: none;
  
  .banner {
    height: 44px;
    padding: 5px 20px 0;
    background: rgba(255,255,255,.9);
    border-bottom: 1px solid rgba(151,151,151,.2);
    img {
      display: flex;
      height: 24px;
      padding-top: 7px;
    }
  }

  .text {
    width: 100%;
    padding: 40px 0 40px;
    text-align: center;
    font-size: 18px;
  }

  .idx-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 50px;
    .center();
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    background-image: linear-gradient(134deg,#4e86e8 0%,#0252db 100%);
    box-shadow: 0 8px 40px -20px #0e69d3;
  }

  .container {
    height: 300px;
    margin-top: 60px;
    background: url(https://asset.cailiwo.net/app/banofinancial-home/assets/landing-bg-ed3fc801.jpeg) no-repeat;
    background-size: cover;
  }
}