.list-wrapper {
  position: relative;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  .item {
    display: flex;
    align-items: center;
    width: 100%;
  
    .name {
      display: flex;
      align-items: center;
      width: 100%;
      border-top: 1px solid #f5f5f5;
      padding-left: 14px;
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 576px) {
  :root {
    --list-item-height: 54px;
  }
  @height: var(--list-item-height);

  .list-wrapper {

    .item {
      height: @height;
    
      .name {
        height: @height;
      }
    }
  }
}